selector {
  property: value;
  property: value;
}

body {
  background-color: #e1eaf9;
  color: #1e252b;
  font-family: "Merriweather", Georgia, serif;
}

h1 {
  line-height: 1.3;
}

h2 {
  color: #4494DA;
}

nav {
  text-align: center;
  padding: .75em;
  font-weight: bold;
}

footer {
  background-color: #0F2439;
  color: #E1EAF9;
  text-align: center;
  padding: 1em;
  font-size: .75em;
  font-style: italic;
}

#wrapper {
  width: 80%;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 2em;
}

